{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-3 col-sm-4">

        <table data-toggle="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Birth Day</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for dog in dogs %}

                <tr>
                    <td>{{ dog.name }}</td>
                    <td>{{ dog.birthday }}</td>
                    <td><a class="btn btn-default" href="{% url "dog-update" dog.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="{% url "dog-add" %}">Add Dog</a>

    </div>
    <div class="col-lg-3 col-sm-4">
        <table data-toggle="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Birth Day</th>
                <th>Edit</th>

            </tr>
            </thead>
            <tbody>
            {% for cat in cats %}

                <tr>
                    <td>{{ cat.name }}</td>
                    <td>{{ cat.birthday }}</td>
                    <td><a class="btn btn-default" href="{% url "cat-update" cat.id %}"> Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="{% url "cat-add" %}">Add Cat</a>
    </div>
    <div class="col-lg-3 col-sm-2"></div>

{% endblock %}
